.header{
    height: 200px;
    width: 80vw;
    display: flex;
    align-items: center;
}
.logo{
    height: 150px;
    width: 150px;
}
.nav-div{
    display: flex;
    font-size: 28px;
    font-family: "Open Sans";
    margin-left: 50px;
}
.nav-div a{
    text-decoration: none;
}
.nav-item{
    color: black;
    margin: 0px 15px;
}
.search-div{
    margin-left: auto;
    display: flex;
}
.search-input{
    height: 40px;
    width: 200px;
    padding: 0px 5px;
    font-family: "Open Sans";
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 30px;
}
.search-button{
    height: 40px;
    width: 80px;
    font-family: "Open Sans";
    padding: 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 40px;
    cursor: pointer;
}
.content{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    position: relative;
    z-index: 1;
}
.content::before{
    content: "";
    position: absolute;
    background-image: url(../img/11.svg);
    background-size: cover;
    opacity: 0.3;
    width: 80vw;
    height: 400px;
    top: 0;
    z-index: -1;
}
.content-text-div{
    height: 350px;
    color: black;
}
.content-header{
    font-family: 'Roboto Slab';
    font-size: 44px;
}
.content-paragraph{
    font-family: "Open Sans";
    font-size: 18px;
    width: 60vw;
}
.content-image-div{
    width: 14vw;
}
.content-image{
    border: 2px solid black;
    border-radius: 50%;
}
.article-section{
    width: 80vw;
    background-color: rgba(212, 212, 212, 0.726);
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: "Open Sans";
}
.article-main-header{
    font-family: 'Roboto Slab';
    margin-left: 20px;
}
.articles{
    display: flex;
    width: 60vw;
    margin-top: 50px;
}
.article-image-div{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-image{
    width: 300px;
    border-radius: 5px;
}
.article-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}
.article-content-header{
    cursor: pointer;
}